.file_upload {
    background: #7300df;
    border: 1px solid rgba(0,0,0,0.1);
    display: block; 
    padding: 5px;
}

.canvas
{
	border: 1px solid;
	margin-top: 10px;
	margin-right: 10px;
    /* display: inline-block; */
    display: none;
}

.canvas.canvas_origin,
.canvas.canvas_0
{
    display: inline-block;
}

.tbar
{
    display: flex;
}

.tbar_splitter
{
    flex-grow: 1;
}

.btn
{
    border: 1px solid;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}

.tbar_text
{
    margin-right: 10px;
}

.info_counter::before
{
    content: 'Итераций: ';
}

.info_rules::before
{
    content: 'Правил: ';
}